@charset "utf-8";
/* CSS Document */

/*COR PRINCIPAL  #71A3C8*/
::-webkit-scrollbar { opacity:0; }
*{ padding:0; margin:0;   /* opacity:0.9; */   font-size:14px; font-family:Calibri, Arial, Verdana; text-decoration:none; }

img{ width: 100%; height: 100%; }

.principal{ width:auto; height:auto; }

body{
/*	background-image:url(../imagens/grid-0_to_1139.png); */ 
	background-position:center;
	background-attachment:fixed;	
	background-repeat:no-repeat;  
	margin: 0;
	padding: 0;
}
header{
	background-color:#3F4448;
	width:auto;
	height: 143px;
	margin: 0px 0px 10px;
}
.limite_header{
	width: 1140px;
	height: 143px;
	margin: auto;
	background-color:#3F4448;
}
.logo{
    background-image: url(../imagens/logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 143px;
	width: 136px;
	float: left;
}
.navegacao{
	margin: 0px 0px 0px 5px;
	float: left;
	width: 998px;
}
.imgJquery{
	width: 70px;
	height: 70px;
	float: left;
	margin: 10px 0px;
	display: block;
}

/* INICIO DO FORMULARIO PARA ENTRAR NO CMS*/
.login{
    float: left;
	border-radius: 5px;
	margin: 10px 0px 0px 210px;
	padding: 4px;
	border: 1px solid #B5C5D1;
}
.login p{
	font-size: 16px;
	color: #B5C5D1;
}
form{
 width: auto;
 height: auto;
}
form p {
	text-align: center;
}
/* FIM DO FORMULARIO PARA ENTRAR NO CMS*/

/*INICIO ESTILIZACAO MENU*/
nav{
    margin: 5px 0px;
    clear: both;
}
.menu-cel, .menu {
	display: none;
}
.lstmenu{
	list-style-type: none;
	display: inline-block;
	margin-left: 60px;
}
.lstmenu li{
	display: inline-block;
	font-weight: bold;
	padding: 0px 4px;
}
.lstmenu li a{
	font-size:20px;
	color:#B5C5D1;
}
.lstmenu li:hover{
	color: #547995;
	border-radius: 5px;
	border-bottom: 4px solid;
}
.lstmenu li a:hover{
	color: #547995;
}
/*FIM ESTILIZACAO MENU*/

/*INICIO ESTILIZACAO SLIDE*/
.limite_slide{
	margin: auto auto 10px;
	width: 1139px;
	height: 400px;
}
.slide{
	width: 1139px;
	height: 400px;
}
.redes_sociais{
	width: 60px;
	height: 260px;
	position: fixed;
	margin: 40px 0px 0px 1169px;
	padding: 8px 4px;
}
.redes_sociais_{ display: none; }
.redes_sociais a img{
	width: 60px;
	height: 60px;
}
/*FIM ESTILIZACAO SLIDE*/

/*INICIO ESTILIZACAO CORPO*/
.limite_corpo{
	width: 1139px;
	margin: auto auto 10px;
}
.categoria{
	width: 197px;
	height: auto;
	float: left;
	margin: 20px 0px;
}
.lstcategoria{
	list-style-type: none;
	margin: 17px;
}
.lstcategoria li a{
	font-size: 20px;
	color: #B5C5D1;
}
#lstcategoria-{
	background-color: #3F4448;
	margin-top: 2px;
	font-size: 13pt;
	color: #B5C5D1;
	padding: 4px 8px;
	font-family: arial;
	border-radius: 10px;
	height: 21px;
}
#subsltsubcategoria-{
	background-color: #3F4448;
	margin-top: 2px;
	font-size: 13pt;
	color: #B5C5D1;
	padding: 4px 8px;
	font-family: arial;
	border-radius: 10px;
	height: 21px;
}
.subsltsubcategoria{ display: none; list-style-type: none; margin-left: 156px; line-height: 19px; width: 131px;}
.lstcategoria li:hover > ul.subsltsubcategoria {
	display: inline-block;
	opacity: 0.95;
	color: #B5C5D1;
	width:150px;
	margin-top: -27px;
}
div.voltar{ float: left; margin: 10px; }
div.voltar a{ color: #B5C5D1; font-size: 35pt; line-height: 10pt; }

/*FIM ESTILIZACAO CORPO*/

/*BARRA DE PESQUISA*/
div.pesquisa{
	float: right;
	background-color: #3F4448;
	width: 230px;
	height: 30px;
	display: block;
	text-align: center;
	padding: 4px;
	margin-right: 20px;
	border-radius: 10px;
}
input#pesquisa_{
	float: left;
	border-radius: 5px;
	padding-left: 10px;
	margin-top: 4px;
	margin-left: 10px;
}
input#btnpesquisar_{
	background-image: url(../imagens/buscar.png);
	background-position:center;	
	background-repeat:no-repeat;  
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
}
/*FIM BARRA DE PESQUISA*/

/*INICIO ESTILIZACAO PRODUTOS*/
.produtos{
	width: 942px;
	float: left;
	margin-bottom: 20px;
}
.produtos a{
	color: #293B48;
	font-weight: bold;
	font-size: 12pt;
}
.item_um {
	background-color: #B5C5D1;
	width: 274px;
	height: 470px;
	float: left;
	margin: 20px;
	border-radius: 10px;
}
.produtos_bd{
	width: 143px;
	height: 208px;
	margin: 20px 60px;
}
.produtos_bd img{
	width: 100%;
	height: 100%;
}
.produtos p{ padding: 10px; }
.desc{
	width: 259px;
	height: 95px;
	overflow: auto;
}

/*FIM ESTILIZACAO PRODUTOS*/

/*INICIO LOJAS*/
.limite_loja{
	margin: auto auto 10px;
	width: 1139px;
}
.corpo_lojas{
	background-color: #3F4448;
	width: 1030px;
	float: left;
	margin-left: 54px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.lojas_titulo{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100px;
	border: solid 1px #B5C5D1;
	border-radius: 4px;
}
.lojas_titulo p{
	font-size: 14pt;
	padding: 4px;
	color: #B5C5D1;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.loja_detalhe{
	background-color: #B5C5D1;
	width: 867px;
	height: 250px;
	margin: 20px 0px 40px 80px;	
	border-radius: 10px;
}
.loja_descricao{
	/*background-color: #45B3FF;*/
	width: 350px;
	height: 190px;
	float: left;
	margin-top: 30px;
	margin-left: 62px;
}
.loja_descricao p{
	margin: 30px 30px 10px;
	font-size: 14pt;
}
.loja_img{
	/*background-color: #45FFB3;*/
	width: 350px;
	height: 190px;
	float: left;
	margin-top: 30px;
	margin-left: 44px;
	border-radius: 10px;
}
.loja_img img{
	border-radius: 10px;
}
/*FIM LOJAS*/

/*INICIO LIVRO DO MES*/
.limite_livro{
	margin: auto auto 10px;
	width: 1139px;
}
.corpo_livro{
	background-color: #3F4448;
	width: 1030px;
	float: left;
	margin-left: 54px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.livro_titulo{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 150px;
	border: solid 1px #B5C5D1;
	border-radius: 4px;
}
.livro_titulo p{
	font-size: 14pt;
	padding: 4px;
	color: #B5C5D1;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.livro_detalhes{
	background-color: #B5C5D1;
	border-radius: 10px;
	width: 886px;
	margin-bottom: 45px;
	float: left;
	margin-left: 82px;
	
}
.livro_capa{
	background-color: #FFF;
	width: 200px;
	height: 300px;
	margin-left: 333px;
	margin-top: 20px;
	border-radius: 10px;
	float: left;
}
.livro_capa img{
	
	border-radius: 10px;
}
.livro_caracteristicas{
	background-color: #FFF;
	width: 636px;
	height: 215px;
	float: left;
	clear: both;
	margin-top: 20px;
	margin-left: 116px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.livro_caracteristicas p, .livro_detalhes p{
	margin: 20px;
}
.livro_mais{
	background-color: #FFF;
	width: 636px;
	height: 215px;
	float: left;
	clear: both;
	margin-left: 116px;
	border-radius: 10px;
	margin-bottom: 40px;
}

/*FIM LIVRO DO MES*/

/*INICIO AUTOR EM DESTAQUE*/
.limite_autor{
	margin: auto auto 10px;
	width: 1139px;
}
.corpo_autor{
	background-color: #3F4448;
	width: 1030px;
	float: left;
	margin-left: 54px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.nome_titulo{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 210px;
	border: solid 1px #B5C5D1;
	border-radius: 4px;
}
.nome_titulo p{
	font-size: 14pt;
	padding: 4px;
	color: #B5C5D1;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.autor_detalhes{
	background-color: #B5C5D1;
	border-radius: 10px;
	width: 886px;
	margin-bottom: 45px;
	float: left;
	margin-left: 82px;
	
}
.autor_foto{
	background-color: #FFF;
	width: 240px;
	height: 235px;
	margin-left: 61px;
	margin-top: 20px;
	border-radius: 10px;
	float: left;
}
.autor_foto img{
	border-radius: 10px;
}
.autor_caracteristicas{
	background-color: #FFF;
	width: 449px;
	height: 234px;
	float: left;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 55px;
	margin-bottom: 20px;
}
.autor_caracteristicas p{
	font-size: 12pt;
	margin: 10px 20px 0px;
}
.autor_mais{
	background-color: #FFF;
	width: 636px;
	height: 215px;
	float: left;
	clear: both;
	margin-top: 20px;
	margin-left: 116px;
	border-radius: 10px;
	margin-bottom: 20px;

}

/*FIM AUTOR EM DESTAQUE*/

/*INICIO SOBRE*/
.limite_sobre{
	margin: auto auto 10px;
	width: 1139px;
}
.corpo_sobre{
	background-color: #3F4448;
	width: 1030px;
	float: left;
	margin-left: 54px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.sobre_titulo{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 150px;
	border: solid 1px #B5C5D1;
	border-radius: 4px;
}
.sobre_titulo p{
	font-size: 14pt;
	padding: 4px;
	color: #B5C5D1;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.sobre_detalhes{
	background-color: #B5C5D1;
	border-radius: 10px;
	width: 886px;
	margin-bottom: 45px;
	float: left;
	margin-left: 82px;
	
}
.sobre_detalhes img{
	border-radius: 10px;
}
.sobre_foto{
	background-color: #FFF;
	width: 636px;
	height: 270px;
	float: left;
	clear: both;
	margin-top: 40px;
	margin-left: 116px;
	border-radius: 10px;
	margin-bottom: 20px;
	
}
.sobre_localizacao{
	background-color: #FFF;
	width: 240px;
	height: 235px;
	margin-left: 116px;
	margin-bottom: 20px;
	border-radius: 10px;
	float: left;
}
.sobre_nos{
	background-color: #FFF;
	width: 339px;
	height: 235px;
	float: left;
	margin-left: 56px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.sobre_localizacao p ,.sobre_nos p{
	margin: 20px;
	
}
.foto_sobre{
	background-color: #FFF;
	width: 295px;
	height: 235px;
	margin-left: 116px;
	margin-bottom: 40px;
	border-radius: 10px;
	float: left;
	clear: both;
}
.foto_sobre_{
	background-color: #FFF;
	width: 296px;
	height: 235px;
	margin-left: 44px;
	margin-bottom: 40px;
	border-radius: 10px;
	float: left;
}

/*FIM SOBRE*/

.topo {
	float: left;
	width: 53px;
	text-align: center;
	border-radius: 5px;
	background-color: #3F4448;
	border: solid 1px #B5C5D1;
	margin-left: 1109px;
	margin-top: -60px;
	margin-bottom: 10px;
}
.topo a{
	color: #B5C5D1;
}
.topo img{
	width: 50px;
	height: 50px;
}
footer{
	background-color: #3F4448;
	width: 100%;
	float: left;}
.limite_footer{
	margin: auto auto 0;
	width: 1139px;
	height: 53px;
	background-color:#3F4448;
}
.direitos{
	float: left;
    margin: 0px 0px 0px 250px;
}
.direitos p{
	font-size: 16px;
	padding: 10px;
	color: #B5C5D1;
}

/*FORMULÁRIO CONTATO/FALE CONOSCO*/

.limite_formulario{
	margin: auto auto 10px;
	width: 1139px;
}
.corpo_cadastro{
	background-color: #3F4448;
	width: 1030px;
	float: left;
	margin-left: 54px;
	border-radius: 10px;
	margin-bottom: 20px;	
}
.fale_contato{
	border: 1px solid #B5C5D1;
	width: 174px;
	margin-top: 20px;
	border-radius: 6px;
	margin-left: auto;
	margin-right: auto;
}
.fale_contato p{
	font-size: 14pt;
	padding: 4px;
	color: #B5C5D1;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.cadastro{
	background-color: #B5C5D1;
    float: left;
	border-radius: 10px;
	width: 907px;
	height: 700px;
	margin-bottom: 46px;
	margin-left: 62px;
	margin-top: 20px;
}
.alinhamento{
	width: 400px;
	margin-top: 40px;
	margin-bottom: 20px;	
}
.alinhamento  p{
	font-size: 12pt;
	padding: 4px;
	margin-top: 8px;
	text-align: right;
}
.alinhamento label{
    font-size: 12pt;
}




