@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 320px){
    
	/*COR PRINCIPAL  #71A3C8*/
	*{
		text-align: justify;
		font-size: 12px;		
		font-family: Calibri, Arial, Verdana;
		padding:0; 
		margin:0;
		font-family:Calibri, Arial, Verdana; 
		text-decoration:none;
	}
	img{ width: 100%; height: 100%; }
	.principal{ width:auto; height:auto; }
	header{
		background-color:#3F4448;
		width: 100%;
		height: 110px;
		margin: 0 0 5px;
	}
	div.limite_header {
		width: 100%;
		height: 110px;
		margin: auto;
		background-color: #3F4448;
	}
	div.logo {
		background-image: url(../imagens/logo.png);
		background-size: 100% auto;
		background-repeat: no-repeat;
		width: 80px;
		float: right;
		height: 90px;
		margin: 11px 110px 0 0;
	}
	div.navegacao{
		margin: 0px 0px 0px 5px;
		float: left;
		width: 10px;
	}
	div.imgJquery , .login, form, .lstmenu, .redes_sociais, .topo{
		display: none;
	}
	/*INICIO ESTILIZACAO MENU*/
	nav{
		width: 34px;
		height: 38px;
		border: #B5C5D1 solid 1px;
		color: #B5C5D1;
		margin: 0 0 0 10px;
		font-size: 64px;
		line-height: 32px;
	}
	.menu{
		color: #B5C5D1;
		margin: 30px 0 0 13px;
		display: block;
	}
	.menu-cel{ 
		list-style:none;
		display: block;	
	}
	#linhas{font-size: 65px;}
	.menu-cel li{ list-style-type: none; }
	.sub-lst-menu-cel{
		display: none;
		position: relative;
		z-index: 1000;
		margin-top: 10px;
		height: 10px;
	}
	.sub-lst-menu-cel li{
		margin-bottom: 21px;
		margin-top: -20px;
		width: 153px;
		height: 30px;
		color: #B5C5D1;
		border: solid 1px #B5C5D1;
		border-radius: 10px;
		background-color: #3F4448;
		padding: 0 7px;
	}
	.menu-cel li:hover > ul.sub-lst-menu-cel{
		display: inline-block;
		opacity: 0.90;
		color: #B5C5D1;
	}
	.sub-lst-menu-cel a{
		color: #B5C5D1;
		font-size: 17px;
	}
	div.limite_slide{
		width: auto !important;
		height: 100px;
		margin: 0;
	}
	div.slide {
		width: 300px;
		height: 100px;
		margin: auto auto 0;
	}
	section#fotos{
		background: none repeat scroll 0% 0% #FFF;
		width: 300px;
		height: 105px;
		display: block;
		overflow: hidden;
		box-shadow: 0px 0px 15px #999;
		margin: auto auto 0px;
		border-radius: 10px;
	}
	section#fotos ul li {
		width: 300px;
		height: 110px;
		display: inline-block;
		position: relative;
	}
	section#fotos ul li span {
		background: none repeat scroll 0% 0% #333;
		width: 285px;
		display: table;
		padding: 2px;
		opacity: 0.7;
		position: absolute;
		bottom: 0px;
		margin: 4px;
		font: 6pt "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
		color: #FFF;
		border-radius: 5px;
		text-align: center;
	}
	section#fotos section#botao {
		display: none;
		position: absolute;
		margin: 15px 7px;
		z-index: 500;
	}
	section#fotos section#botao a {
		background: none repeat scroll 0% 0% #333;
		width: 15px;
		height: 15px;
		display: inline-block;
		text-align: center;
		line-height: 13px;
		font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
		color: #FFF;
		text-decoration: none;
		opacity: 0.7;
		border-radius: 5px;
		font-size: 12pt;
	}
	div.pesquisa{
		float: right;
		width: 200px;
		margin: 11px 3px 0 0;
	}
	div.pesquisa #form_cel{
		display: block;
	}
	input#btnpesquisar_{
		background-image: url(../imagens/buscar.png);
		background-position:center;	
		background-repeat:no-repeat;  
		width: 20px;
		height: 20px;
		margin: 4px 8px;
		padding: 0;
	}
	div.limite_corpo {
		width: 300px;
		margin: auto auto 0;
	}
	div.categoria {
		width: 80px;
		height: auto;
		float: left;
		border-radius: 6px;
		margin: 10px 0px;
	}
	ul.lstcategoria {
		list-style-type: none;
		margin: 5px;
	}
	ul.lstcategoria li a{
		font-size: 14px;
		color: #B5C5D1;
		line-height: 1.8;
	}
	#lstcategoria- {
		background-color: #3F4448;
		font-size: 13px;
		color: #B5C5D1;
		font-family: arial;
		border-radius: 10px;
		height: 15px;
	}
	#subsltsubcategoria- {
		background-color: #3F4448;
		margin-top: 2px;
		color: #B5C5D1;
		padding: 0px 8px;
		font-family: arial;
		border-radius: 10px;
		height: 23px;
	}.lstcategoria li:hover > ul.subsltsubcategoria {
		display: inline-block;
		opacity: 0.95;
		color: #B5C5D1;
		width: 150px;
		margin-top: -21px;
	}
	.subsltsubcategoria {
		display: none;
		list-style-type: none;
		margin-left: 63px;
		line-height: 16px;
	}
	div.produtos {
		width: 200px;
		float: left;
		margin: 0 10px;
	}
	div.produtos p {
		padding: 4px;
	}
	div.produtos_bd {
		width: 100px;
		height: 145px;
		margin: 9px 54px;
	}
	div.produtos a {
		color: #293B48;
		font-weight: bold;
		font-size: 8pt;
	}
	div.item_um {
		background-color: #B5C5D1;
		width: 209px;
		height: 409px;
		float: left;
		border-radius: 6px;
		margin: 10px 0;
	}
	div.desc {
		width: 203px;
		height: 145px;
		overflow: auto;
	}
	/*LOJAS*/
	div.limite_loja {
		margin: auto auto 3px;
		width: 300px;
	}
	div.corpo_lojas {
		background-color: #3F4448;
		width: 300px;
		float: left;
		margin-left: 0;
		border-radius: 5px;
		margin-bottom: 10px;
	}
	div.lojas_titulo {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		margin-top: 10px;
		width: 63px;
		border: solid 1px #B5C5D1;
		border-radius: 3px;
	}
	div.lojas_titulo p {
		font-size: 12pt;
		padding: 2px;
		color: #B5C5D1;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
	div.loja_detalhe {
		background-color: #B5C5D1;
		width: 280px;
		height: 250px;
		margin: 10px;
		border-radius: 5px;
	}
	div.loja_descricao {
		width: auto;
		height: 56px;
		float: left;
		margin: 10px;
	}
	div.loja_descricao p {
		margin: 9px 12px 5px;
		font-size: 10pt;
	}
	div.loja_img {
		width: 262px;
		height: 140px;
		float: left;
		margin-top: 27px;
		margin-left: 8px;
		border-radius: 10px;
		margin-bottom: 17px;
	}
	/*LIVRO MES*/
	div.limite_livro {
		margin: auto auto 0;
		width: 300px;
	}
	div.corpo_livro {
		background-color: #3F4448;
		width: 300px;
		float: left;
		margin-left: 0;
		border-radius: 6px;
		margin-bottom: 7px;
	}
	div.livro_titulo {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		margin-top: 10px;
		width: 100px;
		border: solid 1px #B5C5D1;
		border-radius: 4px;
	}
	div.livro_titulo p {
		font-size: 9pt;
		padding: 3px;
		color: #B5C5D1;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
	div.livro_detalhes {
		background-color: #B5C5D1;
		border-radius: 5px;
		width: 286px;
		margin-bottom: 12px;
		float: left;
		margin-left: 7px;
	}
	div.livro_capa {
		background-color: #FFF;
		width: 120px;
		height: 180px;
		margin-left: 81px;
		margin-top: 20px;
		border-radius: 4px;
		float: left;
	}
	div.livro_capa img { border-radius: 0; }
	div.livro_caracteristicas {
		background-color: #FFF;
		width: 265px;
		height: 100px;
		float: left;
		clear: both;
		margin-top: 20px;
		margin-left: 11px;
		border-radius: 10px;
		margin-bottom: 10px;
	}
	div.livro_caracteristicas p, .livro_detalhes p { margin: 10px; }
	div.livro_mais {
		background-color: #FFF;
		width: 265px;
		height: 170px;
		float: left;
		clear: both;
		margin-left: 10px;
		border-radius: 10px;
		margin-bottom: 10px;
	}
	/*AUTOR DESTAQUE*/
	div.limite_autor {
		margin: auto auto 0;
		width: 300px;
	}
	div.corpo_autor {
		background-color: #3F4448;
		width: 300px;
		float: left;
		margin-left: 0;
		border-radius: 5px;
		margin-bottom: 5px;
	}
	div.nome_titulo {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		margin-top: 10px;
		width: 159px;
		border: solid 1px #B5C5D1;
		border-radius: 4px;
	}
	div.nome_titulo p , .sobre_titulo p , .fale_contato p{
		font-size: 10pt;
		padding: 2px;
		color: #B5C5D1;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
	div.autor_detalhes {
		background-color: #B5C5D1;
		border-radius: 10px;
		width: 286px;
		margin-bottom: 10px;
		float: left;
		margin-left: 7px;
	}
	div.autor_foto {
		background-color: #FFF;
		width: 140px;
		height: 135px;
		margin-left: 72px;
		margin-top: 10px;
		border-radius: 10px;
		float: left;
	}
	div.autor_caracteristicas {
		background-color: #FFF;
		width: 266px;
		height: 240px;
		float: left;
		border-radius: 10px;
		margin-top: 20px;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	div.autor_caracteristicas p {
		font-size: 10pt;
		margin: 5px 10px 0px;
	}
	/*SOBRE*/
	div.limite_sobre {
		margin: auto auto 0;
		width: 300px;
	}
	div.corpo_sobre {
		background-color: #3F4448;
		width: 300px;
		float: left;
		margin-left: 0;
		border-radius: 5px;
		margin-bottom: 10px;
	}
	div.sobre_titulo {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		margin-top: 10px;
		width: 75px;
		border: solid 1px #B5C5D1;
		border-radius: 2px;
	}
	div.sobre_detalhes {
		background-color: #B5C5D1;
		border-radius: 5px;
		width: 284px;
		margin-bottom: 11px;
		float: left;
		margin-left: 7px;
	}
	div.sobre_foto {
		background-color: #FFF;
		width: 265px;
		height: 113px;
		float: left;
		clear: both;
		margin-top: 10px;
		margin-left: 10px;
		border-radius: 10px;
		margin-bottom: 10px;
	}
	div.sobre_localizacao {
		background-color: #FFF;
		width: 265px;
		height: 109px;
		margin-left: 10px;
		margin-bottom: 10px;
		border-radius: 5px;
		float: left;
	}
	div.sobre_localizacao p, .sobre_nos p { margin: 10px; }
	div.sobre_nos {
		background-color: #FFF;
		width: 265px;
		height: 100px;
		float: left;
		margin-left: 10px;
		border-radius: 5px;
		margin-bottom: 10px;
	}
	div.foto_sobre {
		background-color: #FFF;
		width: 263px;
		height: 206px;
		margin-left: 10px;
		margin-bottom: 10px;
		border-radius: 10px;
		float: left;
		clear: both;
	}
	div.foto_sobre_ {
		background-color: #FFF;
		width: 264px;
		height: 210px;
		margin-left: 10px;
		margin-bottom: 10px;
		border-radius: 10px;
		float: left;
	}
	/*CONTATO*/
	div.limite_formulario {
		margin: auto auto 0px;
		width: 300px;
	}
	div.corpo_cadastro {
		background-color: #3F4448;
		width: 300px;
		float: left;
		margin-left: 0;
		border-radius: 10px;
		margin-bottom: 8px;
	}
	div.fale_contato {
		border: 1px solid #B5C5D1;
		width: 114px;
		margin-top: 10px;
		border-radius: 6px;
		margin-left: auto;
		margin-right: auto;
	}
	.formulario { display: block;}
	div.cadastro {
		background-color: #B5C5D1;
		float: left;
		border-radius: 10px;
		width: 282px;
		height: 470px;
		margin-bottom: 11px;
		margin-left: 9px;
		margin-top: 8px;
	}
	div.alinhamento {
		width: 270px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	div.alinhamento p {
		font-size: 9pt;
		padding: 2px;
		margin-top: 5px;
		text-align: right;
	}
	div.alinhamento label { font-size: 10pt; }
	footer {
		background-color: #3F4448;
		width: 100%;
		float: left;
	}
	div.limite_footer {
		width: 300px;
		height: 30px;
		background-color: #3F4448;
	}
	div.direitos {
		float: left;
		margin: 0;
	}
	div.direitos p{
		font-size: 9px;
		padding: 5px 0 0 0;
		color: #B5C5D1;
		margin: 5px 0 0 0;
	}
	div.redes_sociais_ {
		width: 15px;
		height: 15px;
		float: left;
		margin: 8px 2px 0 4px;
		display: block;
	}
	

}